//Color
$yellow: rgb(255, 204, 0);
$orange: rgb(243, 146, 0);
$turquoise: rgb(0, 161, 154);

.title-container{
  display:flex;
  background: $yellow;
  height: 145px;
  width: 100%;
  padding: 0 15% 0 15%;
  margin-bottom: 40px;
}

.title{
  align-self: center;
  vertical-align: middle;
  font-size: 34px;
  margin: 0;
}

.content{
  margin: 0 15% 0 15%;
  font-size: 18px;
  min-height: 700px;
}

.md-body-1, .md-body-2{
  font-size: 18px;
  line-height: 1.5em;
}

#button {
  background-color: #F39200;
}

a {
    color: black;
  }

a:hover {
  color: $turquoise;
}
